//es6配置文件，webpack会自动读取
{
	"presets": [
		["env", {
		  "modules": false,
		  "targets": {
			"browsers": ["ie >=9"]
		  },
		  "useBuiltIns": true,
		}],
		["es2015", {"loose": true}]
	  ],
	"plugins": ['transform-object-rest-spread']
}