.v-button {
  border-radius: 2px;
  line-height: 20px;
  text-align: center;
  outline: 0;
  border: none;
  cursor: pointer;
  & + & {
    margin-left: 12px;
  }
  &--medium {
    padding: 0 16px;
    height: $form-line-height;
    min-width: 60px;
    font-size: $font-size-m;
    .button-prefix {
      padding-right: 8px;
    }
    .button-suffix {
      padding-left: 8px;
    }
  }
  &--small {
    padding: 0 12px;
    height: $form-line-height-s;
    min-width: 48px;
    font-size: $font-size-s;
    .button-prefix {
      padding-right: 4px;
    }
    .button-suffix {
      padding-left: 4px;
    }
  }
  &--large {
    padding: 0 24px;
    height: $form-line-height-l;
    min-width: 80px;
    font-size: $font-size-l;
    .button-prefix {
      padding-right: 8px;
    }
    .button-suffix {
      padding-left: 8px;
    }
  }

  &--primary {
    background-color: $main-active-color;
    color: #fff;
    &:hover {
      background-color: lighten($main-active-color, 15%);
    }
    &:focus {
      background-color: lighten($main-active-color, 10%);
    }
    &:active {
      background-color: darken($main-active-color, 10%);
    }
  }

  &--secondary {
    background-color: #fff;
    color: $main-active-color;
    border: 1px solid $main-active-color;
  }

  &--info {
    background-color: #fff;
    color: $info-color;
    border: 1px solid $border-color;
  }

  &--secondary, &--info {
    &:hover {
      background-color: lighten($main-active-color, 45%);
      color: $main-active-color;
      border-color: $main-active-color;
    }
    &:focus {
      background-color: #fff;
      border-color: $main-active-color;
    }
    &:active {
      background-color: lighten($main-active-color, 30%);
      color: darken($main-active-color, 5%);
      border-color: darken($main-active-color, 5%);
    }
  }

  &--danger {
    background-color: $error-color;
    color: #fff;
    &:hover {
      background-color: lighten($error-color, 15%);
    }
    &:focus {
      background-color: lighten($error-color, 10%);
    }
    &:active {
      background-color: darken($error-color, 10%);
    }
  }
  &--text {
    width: auto;
    color: $main-active-color;
    background-color: transparent;
    padding: 2px;
    &:hover {
      color: lighten($main-active-color, 15%);
    }
    &:focus {
      background-color: #fff;
      border-color: $main-active-color;
      border-color: lighten($main-active-color, 15%);;
    }
    &:active {
      color: darken($main-active-color, 5%);
      border-color: transparent;
    }
  }
  &--loading {
    animation: rotate 1.6s linear infinite;
    display: inline-block;
  }
  &__icon {
    font-size: 16px;
    vertical-align: middle;
  }
}



