.body--overflow-hidden {
  overflow: hidden;
}
.v-dialog-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1000;
}
.v-dialog-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.v-dialog {
  $close-font-size: 16px;
  $close-wrap-size: $close-font-size + 3px;
  $box-padding: 24px;
  $box-padding-top: 16px;

  position: absolute;
  // display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  // min-width: 400px;
  max-width: 100%;
  min-height: 160px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.12), 0px 4px 12px -8px rgba(0, 0, 0, 0.09);
  z-index: 1000;

  &__header {
    position: relative;
  }
  &__title {
    padding: $box-padding-top $box-padding;
    font-size: $font-size-l;
    font-weight: 600;
    color: $title-color;
    line-height: 21px;
    border-bottom: 1px solid #f5f5f5;
    &-inner {
      font-weight: 600;
    }
  }
  &__close {
    position: absolute;
    top: 50%;
    right: $box-padding + 3px;
    margin-top: -$close-wrap-size / 2;
    font-size: $close-font-size;
    cursor: pointer;
  }

  &__main {
    padding: $box-padding;
    overflow: auto;
  }

  &__footer {
    padding: 0 $box-padding $box-padding;
    &--none {
      display: none;
    }
  }

  &__button-group {
    text-align: right;
    .v-dialog__button-item {
      & + .v-dialog__button-item {
        margin-left: 8px;
      }
    }
  }

  &__close-space {
    padding-right: $box-padding * 2 + $close-wrap-size;
    .v-dialog__center {
      padding-left: $box-padding + $close-wrap-size;
    }
  }
  &__center {
    text-align: center;
    // &.v-dialog__title-inner {
    //   padding-left: $box-padding + $close-wrap-size;
    // }
  }

  @at-root {
    &--parent-hidden {
      overflow: hidden;
    }
  }
}

.v-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.5);
  z-index: 1000;
}

.v-dialog-fade-enter-active {
  animation: pop-fade-in 0.3s;
}
.v-dialog-fade-leave-active {
  animation: pop-fade-out 0.3s;
}

@keyframes pop-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes pop-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.v-dialog-inner-fade-enter-active {
  animation: dialog-fade-in 0.3s;
}
.v-dialog-inner-fade-leave-active {
  animation: dialog-fade-out 0.3s;
}
@keyframes dialog-fade-in {
  0% {
    transform: translate3d(-50%, -55%, 0);
  }

  100% {
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes dialog-fade-out {
  0% {
    transform: translate3d(-50%, -50%, 0);
  }

  100% {
    transform: translate3d(-50%, -55%, 0);
  }
}
