.v-dropdown {
  @mixin disabled-style {
    color: $disabled-color !important;
    cursor: not-allowed;
  }
  display: inline-block;
  .v-dropdown__label {
    display: inline-block;
    font-size: $font-size-m;
    font-weight: 400;
    color: $title-color;
    cursor: pointer;

    &.v-dropdown__label-button {
      padding: 0 16px;
      line-height: 29px;
      border: 1px solid $border-color;
      border-radius: 2px;

      &.v-dropdown__label--active {
        border-color: $main-active-color;
      }
      &:not(.v-dropdown__label--disabled) {
        &:hover {
          border-color: rgba($main-active-color, 0.9);
        }
        &:focus {
          border-color: rgba($main-active-color, 0.9);
        }
        &:active {
          border-color: darken($main-active-color, 10%);
        }
      }
    }

    &.v-dropdown__label-button-group {
      line-height: 29px;

      .v-dropdown__label__content {
        color: $title-color;
        display: inline-block;
        padding: 0 16px;
        border: 1px solid #e8e9ec;
        border-radius: 4px 0px 0px 4px;
        &:hover {
          color: $main-active-color;
        }
      }

      &.v-dropdown__label--active {
        border-color: $main-active-color;
      }

      &:not(.v-dropdown__label--disabled) {
        &:hover {
          border-color: rgba($main-active-color, 0.9);
        }
        &:focus {
          border-color: rgba($main-active-color, 0.9);
        }
        &:active {
          border-color: darken($main-active-color, 10%);
        }
      }

      &.v-icon-down {
        &:before {
          float: right;
          margin: 0;
          padding: 0 6px;
          display: block;
          border: 1px solid #e8e9ec;
          border-radius: 0px 4px 4px 0px;
          border-left: none;
        }
      }

      &:hover {
        .v-dropdown__label__content,
        &.v-icon-down:before {
          border-color: $main-active-color;
        }
      }
    }

    &.v-icon-down {
      &:before {
        float: right;
        margin: 0 0 0 8px;
      }
    }

    &.v-dropdown__label--active {
      color: $main-active-color;
    }
    &.v-dropdown__label--disabled {
      @include disabled-style;
    }

    &:hover {
      color: rgba($main-active-color, 0.9);
    }
    &:focus {
      color: rgba($main-active-color, 0.9);
    }
    &:active {
      color: darken($main-active-color, 10%);
    }
  }

  @at-root {
    $option-height: 32px;
    $option-line-height: 22px;
    $menu-padding-tb: $option-height / 4;
    .position-panel {
      border-radius: 2px;
    }
    .v-dropdown__menu {
      padding: $menu-padding-tb 0;
      .v-dropdown__option {
        padding: ($option-height - $option-line-height)/2 16px;
        line-height: $option-line-height;
        font-size: $font-size-m;
        color: $title-color;
        cursor: pointer;

        &.v-dropdown__option--divided {
          border-bottom: 1px solid $border-color;
        }
        &.v-dropdown__option--active {
          color: $main-active-color;
        }
        &.v-dropdown__option--disabled {
          @include disabled-style;
        }
        &:not(.v-dropdown__option--disabled) {
          &:hover {
            color: $main-active-color;
            background-color: rgba($main-active-color, 0.1);
          }
        }

        .v-dropdown__icon {
          margin-right: 4px;
        }
        // .v-dropdown__icon,
        // .v-dropdown__text {
        //   vertical-align: top;
        // }
      }
    }

    :export {
      optionHeight: $option-height;
      menuVerticalPadding: $menu-padding-tb * 2;
    }
  }
}
