.v-edit {
  position: relative;
  display: inline-block;

  .edit-plane {
    display: inline-block;
    width: 100%;
  }

  .edit__lable {
    padding: 0 16px 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: default;
    background-color: #fff;
  }

  .edit__text {
    resize: vertical;
    border: 1px solid $border-color;
    border-radius: 2px;
    color: $title-color;
    outline: 0;
    padding: 0 8px;

    &:hover {
      border-color: $main-active-color;
    }

    &:focus {
      border-color: $main-active-color;
      box-shadow: 0px 0px 4px 0px rgba($main-active-color, 0.5);
    }

    .placeholder-text {
      padding: 0;
    }
  }

  .v-icon-edit {
    font-size: $font-size-l;
    width: $font-size-l;
    display: inline-block;
    position: absolute;
    right: 0;
  }

  &__icon {
    font-size: $font-size-l;
    width: $font-size-l;
    display: inline-block;

    &.v-icon-close-plane {
      color: #c0c0c0;
    }

    &.edit-gray:hover {
      color: darken($border-color, 15%);
    }

    &--prefix {
      position: absolute;
      height: 100%;
      padding: 0 8px;
      vertical-align: middle;
      color: #8d8d8d;
    }

    &--suffix {
      @extend .v-edit__icon--prefix;
      right: 0;
      top: 0;

      .edit-icon + .edit-icon {
        padding-left: 8px;
      }
    }
  }

  @mixin edit-size($fontSize, $lineHeight) {
    .edit-plane,
    .input-word-limit {
      line-height: $lineHeight;
      font-size: $fontSize;
      height: $lineHeight;
    }
    .v-edit__icon {
      height: $lineHeight;
      line-height: $lineHeight;
    }
  }

  &--medium {
    @include edit-size($font-size-m, $form-line-height);
    &.v-edit--no-border {
      @include edit-size($font-size-m, $form-line-height - 2);
    }
  }

  &--small {
    @include edit-size($font-size-s, $form-line-height-s);
    &.v-edit--no-border {
      @include edit-size($font-size-s, $form-line-height-s - 2);
    }
  }

  &--large {
    @include edit-size($font-size-l, $form-line-height-l);
    &.v-edit--no-border {
      @include edit-size($font-size-l, $form-line-height-l - 2);
    }
  }

  &--disabled {
    .edit-plane,
    .v-icon-edit {
      cursor: not-allowed !important;
      color: $disabled-color !important;
    }
  }

  .input-word-limit {
    color: #d8d8d8;
  }
  .is-input-error {
    border: 1px solid $error-color;
  }
}
