.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  &-el {
    display: inline-block;
    width: 100%;
  }

  &-text {
    padding-left: 50px;
    &::before {
      margin: 0 15px 0 -30px;
    }
  }

  &-first {
    position: relative;
    height: 54px;
    line-height: 54px;
    overflow: hidden;
    &-suffix {
      position: absolute;
      right: 0;
      height: 54px;
      margin-right: 20px;
      line-height: 54px;
      text-align: center;
      transition: transform 0.3s;
      &.menu__close {
        transform: rotate(180deg);
        transform-origin: center;
      }
    }
    &__active {
      .menu-text {
        font-weight: bold;
        &::before {
          font-weight: normal;
        }
      }
    }
  }

  &-sec {
    height: 40px;
    line-height: 40px;
    &-wrap {
      height: 0;
      overflow: hidden;
      transition: height 0.3s;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
  }
}

.menu-first__disabled,
.menu-sec__disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/** 腾达 or IP-COM风格*/
.tenda {
  &,
  a {
    color: #262626;
  }
  font-size: 14px;
  .menu-first__active,
  .menu-sec__active,
  .menu-first:not(.menu-first__disabled):hover,
  .menu-sec:not(.menu-sec__disabled):hover {
    color: #ff801f;
  }
  .menu-sec__active {
    background-color: #fff5e4;
  }
}
.ipcom {
  background-color: #000;
  &,
  a {
    color: rgba(255, 255, 255, 0.65);
  }
  font-size: 15px;
  .menu-first__active,
  .menu-sec__active,
  .menu-first:not(.menu-first__disabled):hover,
  .menu-sec:not(.menu-sec__disabled):hover {
    color: #fff;
  }
  .menu-sec__active {
    background-color: #d82228;
  }
}
