.qrWrap {
  width: max-content;
  text-align: center;
  header,
  footer {
    width: 100%;
    text-align: center;
    p {
      width: 100%;
      word-wrap: break-word;
      white-space: normal;
    }
  }

  .v-button {
    margin-top: 20px;
  }
}
