.button-item {
    display: inline-block;
    & + .button-item {
        margin-left: 20px;
    }
    .btn.disabled {
        background: $disabled-background-color !important;
        cursor: not-allowed;
        color: $disabled-color;
    }
}