.form-checkbox {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    .checkbox-item {
        vertical-align: middle;
        margin-right: 4px;
        font-size: 16px;
        color: #c4c4c4;
        &.v-icon-checkbox-checked {
            color: $main-active-color;
        }
        &.v-icon-checkbox-unchecked {
            &:hover {
                color: $main-active-color;
                background-color: rgba($main-active-color, 0.1);
            }
        }
    }
    .checkbox-text {
        display: inline-block;
        vertical-align: middle;
    }
}

.form-el-checkbox {
    max-width: $elem-width;
}
.disabled > .checkbox-item {
    color: #c4c4c4 !important;
    background: $disabled-background-color !important;
}