.col-content {
    border: 1px solid #ddd;
    border-radius: 2px;
    .col-group:last-child {
        padding-right: 0;
    }
    &.disabled {
        background: $disabled-background-color;
        border-color: $black-with-opacity-15;
        color: $disabled-color;
    }
}
.error-group .col-content {
    border-color: $error-color; 
}
.focus.col-content {
    border-color: $black-with-opacity-35;
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px $main-active-color;
}
.col-group {
    display: inline-block;
    position: relative;
    .text {
        border: none;
        border-radius: 2px;
        &:focus {
            border: none !important;
            box-shadow: none;
        }
    }
    .col-splitter {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 12;
        width: 10px;
        font-size: 20px;
        text-align: center;
        line-height: $form-line-height;
        height: $form-line-height;
    }
}