.form-port-content {
    text-align: left;
    position: relative;
    &.bottm-50 {
        margin-bottom: 50px;
    }
}
.form-port-list {
    padding: 10px 20px;
    position: relative;
    background: #fafafa;
    .select-all-group {
        position: absolute;
        top: 100%;
        margin: 10px 0;
        left: 0;
    }
}
.form-port {
    color: #898989;
    &.active {
        color: $success-color;
    }
    &.disabled {
       color: $disabled-color;
    }
}
.form-console-group {
    display: inline-block;
    position: relative;
    left: 14px;
    .port-text {
        font-size: 14px;
    }
    .form-port {
        width: 24px;
        height: 22px;
        background: #898989;
        &::before {
            content: '';
        }
    }
}
.port-legend {
    text-align: right;
    .form-port {
        font-size: 18px;
    }
    .port-content, .port-text {
        display: inline-block;
    }
}
.form-port-group {
    margin: 8px;
    text-align: center;
    display: inline-block;
    .form-port-list > &:nth-child(4n) + .form-port-group {
        margin-left: 40px;
    }
    .port-content {
        font-size: 24px;
        position: relative;
        cursor: pointer;
        & + .port-content {
            margin-top: 16px;
        }
    }
    .port-group-text {
        position: absolute;
        bottom: 3px;
        z-index: 1007;
        /* height: 100%; */
        font-size: 12px;
        width: 100%;
        color: #fff;
    }
    
}