.progress-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    width: 520px;
    background: #fff;
    margin: 0 auto;
    padding: 48px 0 18px;
    box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.3);
    .progress-title {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }
    .progress-bar{
        background-color: #f5f5f5;
        border-radius: 8px;
        height: 6px;
    }
    .progress-group {
        margin: 40px 50px;
    }
    
    .progress-percent {
        height: 100%;
        line-height: 18px;
        padding-right: 6px;
        background-color: #00bc55;
        color: #fff;
        border-radius: 8px;
        font-size: $font-size-small;
    }
}