.form-radio {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    .raido-item {
        vertical-align: middle;
        margin-right: 4px;
        font-size: 16px;
        color: #c4c4c4;
        border-radius: 8px;
        &.v-icon-radio-checked {
            color: $main-active-color;
        }
        &.v-icon-radio-unchecked {
            &:hover {
                color: $main-active-color;
                background-color: rgba($main-active-color, 0.1);
            }
        }
        &.disabled {
            color: #c4c4c4 !important;
            background: $disabled-background-color !important;
        }
    }
    .radio-text {
        display: inline-block;
        vertical-align: middle;
    }
}