.form-radio {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    .raido-item {
        vertical-align: middle;
        margin-right: 4px;
        font-size: 18px;
        color: $main-active-color;
        &.disabled {
            background: $disabled-background-color;
            color: $disabled-color;
        }
    }
    .radio-text {
        display: inline-block;
        vertical-align: middle;
    }
}