.form-select {
  width: $elem-width;
  cursor: pointer;
  position: relative;

  .select-arrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 14;
    height: 100%;
    width: 20px;
    text-align: center;
    transition: all 0.3s;

    .select-arrow-icon {
      height: $form-line-height + 2px;
      line-height: $form-line-height + 3px;
      font-size: 16px;
    }
  }

  .arrow-up {
    transform: rotateZ(180deg);
    transition: all 0.3s;
  }

  .text {
    cursor: pointer;
    padding-right: 20px;
  }

  .input-text {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 1px;
    width: 100%;
    border: 1px solid $black-with-opacity-15;
    padding: 0 32px 0 8px;
    line-height: $form-line-height;
    border-radius: 2px;
    background-color: transparent;
    color: $info-color;
    box-sizing: border-box;
    overflow: hidden;

    &.ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.active {
      border-color: $black-with-opacity-35;
      // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px $main-active-color;
    }

    &.disabled {
      background: $disabled-background-color;
      border-color: $black-with-opacity-15;
    }
  }

  .select-dropdown {
    position: absolute;
    min-width: 100%;
    list-style: none;
    border: solid 1px #e4e7ed;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 5px 0;
    text-align: left;
    z-index: 99;
    max-height: 200px;
    overflow-y: auto;

    .select-li {
      padding: 6px;
      line-height: 1;
      white-space: nowrap;

      &.active {
        background-color: $border-color;
        color: rgba(0, 0, 0, 0.85);
      }
      &:not(.active):hover {
        background: rgba($border-color, 0.5);
      }
    }
  }
}