.form-switch {
    .switch-tips {
        display: inline-block;
        margin-left: 8px;
        line-height: $form-line-height;
    }
}

.switch-item {
    width: 62px;
    float: left;
    height: $form-line-height;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: block;
    user-select: none;
    cursor: pointer;

    &:focus {
        outline: 0;
    }

    &.checked {
        border-color: $main-active-color;
        box-shadow: $main-active-color 0 0 0 16px inset;
        background-color: $main-active-color;

        &:before {
            left: 32px;
        }
    }

    &:before {
        content: " ";
        width: 28px;
        height: 28px;
        position: absolute;
        top: 0px;
        left: 0;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        transition: all 0.3s;
    }
}