.select-box {
    .form-checkbox,
    .checkbox-item {
        margin-right: 0;
    }
    .disabled {
        .checkbox-item {
            color: $disabled-color;
            cursor: not-allowed;
        }
    }
}