.el-tooltip {
    position: fixed;
    background: #101010;
    padding: 7px;
    color: #fff;
    z-index: 9999;
    border-radius: 2px;
    word-break: break-word;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    .el-tooltip__triangle {
        position: absolute;
        width: 8px;
        height: 6px;
        left: 50%;
        bottom: -5px;
        margin-left: -4px;
    }
}