@font-face {
    font-family: 'v-iconmoon';
    src: url('../fonts/iconmoon.ttf') format('truetype'),
        url('../fonts/iconmoon.woff') format('woff'),
        url('../fonts/iconmoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="v-icon-"],
[class*=" v-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'v-iconmoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga"1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.v-icon-checkbox-checked:before {
  content: "\e900";
}
.v-icon-close:before {
  content: "\e901";
}
.v-icon-checkbox-unchecked:before {
  content: "\e902";
}
.v-icon-search:before {
  content: "\e903";
}
.v-icon-sort-up:before {
  content: "\e904";
}
.v-icon-sort-down:before {
  content: "\e905";
}
.v-icon-unsort:before {
  content: "\e906";
}
.v-icon-eye-close:before {
  content: "\e907";
}
.v-icon-eye-open:before {
  content: "\e908";
}
.v-icon-arrrow-down:before {
  content: "\e920";
}
.v-icon-arrrow-up:before {
  content: "\e921";
}
.v-icon-radio-checked:before {
  content: "\ea54";
}
.v-icon-radio-unchecked:before {
  content: "\ea56";
}
.v-icon-file:before {
  content: "\e91f";
}