.v-form-item {
  margin-bottom: 16px;
}
.v-form-item--medium .v-form-item__tip {
  font-size: 12px;
}

.v-form-item__unit {
  color: #8b8c99;
}
.v-form-item__content__msg {
  font-size: 12px;
  line-height: 14px;
}
.v-form-item__label {
  color: #676775;
}
.v-notification__main--default,
.v-message__content {
  color: #4b4b5a;
}

.v-chart__percent__detail {
  color: #0058e4;
}
