.v-upload__row__button {
  color: #676775;
  border-color: #e8e9ec;
  border-radius: 0 4px 4px 0;
  vertical-align: middle;
}
.v-upload__row__file--small {
  width: $elem-width;
  height: $form-button-height-s;
  font-size: $font-size-s;
  line-height: calc(#{$form-button-height-s} - 2px) 
}
.v-upload__row__file--medium {
  width: $elem-width;
  height: $form-button-height;
  font-size: $font-size-m;
  line-height: calc(#{$form-button-height} - 2px) 
}
.v-upload__row__file--large {
  width: $elem-width;
  height: $form-button-height-l;
  font-size: $font-size-l;
  line-height: calc(#{$form-button-height-l} - 2px) 
}
.v-upload__image__icon {
  font-size: 20px;
}

.v-upload__image {
  width: auto;
  height: auto;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  padding: 9px;
  border: 1px solid #e8e9ec;
  border-radius: 4px;
  &:not(.is-disabled):hover {
    background: #f2f7ff;
    border: 1px solid #b2cfff;
  }
  &:not(.is-disabled):active {
    background: #f2f7ff;
    border: 1px solid #0058e4;
  }

  &:not(.is-disabled):hover,
  &:not(.is-disabled):active {
    .v-upload__image__icon {
      color: #0058e4;
    }
  }
}

.v-upload__image__middle {
  margin-top: 0;
  transform: none;
  font-size: 0;
}

.v-upload__image__text {
  font-size: 12px;
}
