.v-popover{display:inline-block}.v-popover__main{font-size:14px}.v-popover__title{padding:4.5px 8px;font-weight:500;color:#262626;line-height:22px;border-bottom:1px solid #f0f0f0}.v-popover__content{padding:8px;color:#595959;line-height:22px}

