// popover组件相关尺寸
$arrow-height: 6px;
$arrow-bottom-side-length: 10px;
// 步骤条组件相关尺寸
$step-icon-size: 32px;
$step-icon-line-space: 8px;

:export {
  arrowHeight: $arrow-height;
  arrowBottomSideLength: $arrow-bottom-side-length;
  iconSize: $step-icon-size;
  iconLineSpace: $step-icon-line-space;
}
